<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Log In</title>
</head>
<body>

<section class="relative mx-auto w-fit">
    <nav class="flex justify-between bg-cyan-800 text-white w-screen">
        <div class="px-5 xl:px-12 py-6 flex w-full items-center">
            <a class="text-3xl font-bold font-heading" href="/">
                <img src="https://vendon.net/wp-content/uploads/2021/06/Logo_Header-1.svg" width="200" height="46"
                     class="attachment-full size-full wp-image-2389 astra-logo-svg" loading="lazy" alt="Vendon">
            </a>
        </div>
    </nav>
</section>

<div class="h-screen bg-gray-200 flex flex-col justify-center">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
        <div
                class="absolute inset-0 bg-gradient-to-r from-lime-500 to-lime-700 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
        </div>
        <div class="relative px-4 py-10 bg-cyan-800 shadow-lg sm:rounded-3xl sm:p-20">
            <div class="max-w-md mx-auto">
                <div>
                    <h1 class="text-2xl text-gray-200 font-semibold">Ielogoties savā kontā</h1>
                </div>
                <form method="POST" action="/login">
                    <div class="divide-y divide-gray-200">
                        <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                            <div class="relative">
                                <label class="text-gray-200" for="email">
                                    E-pasts
                                </label>
                                <input id="email" name="email" type="text"
                                       class="block w-full px-4 py-2 mt-2 text-gray-800 bg-gray-200 border border-gray-600 rounded-md focus:border-blue-500 focus:outline-none focus:ring"/>
                                {% if errors.email %}
                                    <span class="text-red-500 tex-sm">{{ errors.email[0] }}</span>
                                {% endif %}
                            </div>
                            <div class="relative">
                                <label class="text-gray-200" for="password">
                                    Parole
                                </label>
                                <input id="password" name="password" type="password"
                                       class="block w-full px-4 py-2 mt-2 text-gray-800 bg-gray-200 border border-gray-600 rounded-md focus:border-blue-500 focus:outline-none focus:ring"/>
                                {% if errors.password %}
                                    <span class="text-red-500">{{ errors.password[0] }}</span>
                                {% endif %}
                            </div>
                            <div class="relative">
                                <button type="submit" class="bg-lime-600 text-black rounded shadow hover:bg-lime-500 hover:shadow-lg py-2 px-4 border border-lime-600 hover:border-transparent">
                                        Ielogoties
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>