<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Vendon</title>
</head>
<body class="bg-gray-200 w-screen h-screen">
<section class="relative mx-auto w-fit">
    <!-- navbar -->
    <nav class="flex justify-between bg-cyan-800 text-white w-screen">
        <div class="px-5 xl:px-12 py-6 flex w-full items-center">
            <a class="text-3xl font-bold font-heading" href="/">
                <img src="https://vendon.net/wp-content/uploads/2021/06/Logo_Header-1.svg" width="200" height="46"
                     class="attachment-full size-full wp-image-2389 astra-logo-svg" loading="lazy" alt="Vendon">
            </a>
        </div>
    </nav>
</section>
<div class="flex justify-center items-center w-full mt-10">
    <h1 class="font-bold text-4xl">Rezultāti</h1>
</div>
<a href="/">
    <div class="flex justify-center w-screen mt-4">
        <button type="submit"
                class="flex items-center mt-2 rounded-md bg-white py-2 pl-3 pr-4 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
            Sākt testu!
        </button>
    </div>
</a>
</body>
</html>